/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --background-image: url('../images/cover-image-dark.png');
    --page-color: rgb(11, 8, 91);
    --accent-color: #FF0070;
    --title-decor-background-color: #FF0070;
    --title-name-color: #DB00FF;
    --information-text-color: #F1B2CE;
    --mane-text-color:#FF0070;
    --button-color:#FF0070;
    --border-color:#FF0070;
    --heder-info-color:#000028;
    --page-background-color: #000028;
    --border-for-hover: rgba(255, 0, 112, 0.4);
    --border-for-active: #FF0070;
    --border-for-link: #F1B2CE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url('../images/cover-image-dark.png');
    --page-color: rgb(11, 8, 91);
    --accent-color: #FF0070;
    --title-decor-background-color: #FF0070;
    --title-name-color: #DB00FF;
    --information-text-color: #F1B2CE;
    --mane-text-color:#FF0070;
    --button-color:#FF0070;
    --border-color:#FF0070;
    --heder-info-color:#000028;
    --page-background-color: #000028;
    --border-for-hover: rgba(255, 0, 112, 0.4);
    --border-for-active: #FF0070;
    --border-for-link: #F1B2CE;
  }
}